<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Super Awesome</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>
    body { padding-top:10px; padding-bottom: 50px; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $("input[type='submit']").click(function () {
        var type = $(this).data("type");
        var name = $(this).data("name");
        var id = $(this).data("id");

        if (type === 'user') {
          console.log('delete user from topic');
          $.ajax({
            type: "PUT",
            url: "/v1/photos/topic/" + name + "/remove",
            data: JSON.stringify({"user_id": id}),
            success: function(data) {
              $("#user-" + id).hide();
            },
            contentType: "application/json",
            dataType: 'json'
          });
        } else {

          console.log(name, id);

          $.ajax({
            type: "DELETE",
            url: "/v1/photos/topic/" + name,
            data: JSON.stringify({}),
            success: function(data) {
              $("#" + id).hide();
            },
            contentType: "application/json",
            dataType: 'json'
          });
        }
      });
    });
  </script>

</head>
<body class="container">

  <main>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
      <h4 class="pull-right"><%= results.length %> lists</h4>
        <% include ../views/partials/nav %>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <% for(var i=0; i < results.length; i++) {%>
        <li class="list-group-item" id="<%= results[i].id %>">
          <h4>
            <a href="/topics/<%= results[i].name %>"><%= results[i].name %></a>
            <%= results[i].users.length %>
            <input data-id="<%= results[i].id %>"
                   data-name="<%= results[i].name %>"
                   class="btn btn-default"
                   type="submit"
                   value="Delete">
          </h4>
        </li>
        <% } %>
      </ul>
    </div>
  </main>

  <footer>
  </footer>

</body>
</html>
